<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RulesLocalContext" 
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\cuong\workspace\github\stateful-timed-rules\source\using-rules-engine\using-rules-engine\rules.mdf;Integrated Security=True" 
			 providerName="System.Data.SqlClient" />
		<add name="RulesDemoContext"
			 connectionString="Data Source=C:\Users\cuong\workspace\github\stateful-timed-rules\source\using-rules-engine\using-rules-engine\rules.db" />
	</connectionStrings>
</configuration>